import { FC } from "react";

import { I{{componentName}}Props } from "./types"

const {{componentName}}: FC<I{{componentName}}Props> = () => {
  return <h1>Hello world</h1>;
};

export default {{componentName}};
